<% if user_signed_in? && current_user.admin_role? %>
<table class="table table-striped table-hover text-white">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Created at</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <div class="d-flex flex-column align-items-center card bg-black border-0 text-white px-2 py-3">
      <%= render @users %>
    </div>
  </tbody>
</table>
</end>
<% end %>