<p style="color: green"><%= notice %></p>

<%= render @review %>

<div>
  <%#= link_to "Edit this review", movie_review_path(@movie) %>
  <%= link_to "Back", movies_path %>

  <%= button_to "Destroy this review", @review, method: :delete %>
</div>
